*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-image: linear-gradient(to bottom, #2D3436, #4a6a72);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  margin-left: 1rem;
  margin-right: 1rem;
 
  @include breakpoint-up("medium") {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}