.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;

  &__logo {
    img {
      width: 60px;

      @include breakpoint-up("medium") {
        width: 80px;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: .5rem;

    @include breakpoint-up("medium") {
      gap: 1.2rem;
    }

    img {
      width: 30px;
      height: 30px;
      @include breakpoint-up("medium") {
        width: 40px;
        height: 40px;
      } 
      &:hover {
        filter: sepia(20%) hue-rotate(-10deg) saturate(300%);
      }
    }


  }

  &__btnProjects {
    display: inline-block;
    text-decoration: none;
    background-color: #55EFC4;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: .7rem;
    color: #000;
    transition: all .3s ease;
    
    @include breakpoint-up("medium") {
      padding: 0.5rem 1.3rem;
      font-size: 1rem;
    }

    &:hover {
      background-color: #099e74;
      color: #fff;
    }

  }

}