.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  @include breakpoint-down("small") {
    margin-top: 2rem;
  }

  &__img {
    width: 500px;
    max-width: 700px;
    @include breakpoint-down("small") {
      width: 90%;
    }
  }

  &__name {
    font-size: 2rem;
    color: #f6a912;
  }

  &__title {
    font-size: 1.3rem;
    color: #00CEC9;
  }

}